<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h5 class="card-title">User List</h5>
        <table class="responsive-table datatable-select-inputs">
          <thead>
          <tr>
            <th style="width: 15%">Email</th>
            <th style="width: 30%">Role</th>
            <th style="width: 15%">Action</th>
          </tr>
          </thead>
          <tbody>
          <%= render @users %>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
