<div class="shop-page pt-120 mb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop-sidebar">
          <form enctype="multipart/form-data" action="/shop" accept-charset="UTF-8" method="get">
            <div class="shop-widget">
              <h5 class="shop-widget-title">Price Range</h5>
              <div class="range-widget">
                <div id="slider-range" class="price-filter-range"></div>
                <div class="mt-25 d-flex justify-content-between gap-4">
                  <input type="number" name="min_price" disabled min=0 max="1000000" id="min_price" class="price-range-field block shadow rounded-md border border-gray-200 outline-none price-range" style="color: #F46F30" />
                  <input type="number" name="max_price" disabled min=0 max="1000000" id="max_price" class="price-range-field block shadow rounded-md border border-gray-200 outline-none price-range" style="color: #F46F30" />
                </div>
              </div>
            </div>
            <div class="shop-widget">
              <div class="check-box-item">
                <h5 class="shop-widget-title">Category</h5>
                <div class="checkbox-container">
                  <label class="containerss">Dog
                    <input type="checkbox" name="category[]" value="dog">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containerss">Cat
                    <input type="checkbox" name="category[]" value="cat">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containerss">Bird
                    <input type="checkbox" name="category[]" value="bird">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containerss">Fish
                    <input type="checkbox" name="category[]" value="fish">
                    <span class="checkmark"></span>
                  </label>
                  <label class="containerss">Small Animal
                    <input type="checkbox" name="category[]" value="small_animal">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
            <button class="primary-btn3 btn-lg" type="submit">Search</button>
          </form>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row mb-50">
          <div class="col-lg-12">
            <div class="multiselect-bar">
              <h6>shop</h6>
              <div class="multiselect-area">
                <div class="single-select">
                  <span>Show</span>
                  <%= form_tag('/shop', remote: true, id: 'limit_form', method: :get, class: "d-flex flex-row justify-content-end") do %>
                    <%= select_tag :limit, options_for_select([12, 25, 50, 100], selected: params[:limit] || 12), onchange: "$('#limit_form').submit();", class: "defult-select-drowpown" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-4 justify-content-center">
          <% @products.each do |product| %>
          <%= render partial: "welcome/product", locals: {product: product} %>
            <% end %>
        </div>
        <div class="row pt-70">
          <div class="col-lg-12 d-flex justify-content-center">
            <div class="paginations-area">
              <nav aria-label="Page navigation example">
                <%= paginate @products %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    // $("input[data-type='currency']").on({
    //     change: function(event) {
    //         if(event.which >= 37 && event.which <= 40) return;
    //
    //         console.log(1)
    //         // format number
    //         $(this).val(function(index, value) {
    //             return value
    //                 .replace(/\D/g, "")
    //                 .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    //                 ;
    //         });
    //     },
    // });
    $(document).ready(function() {
        $("#slider-range").slider({
            values: [20000, 30000]
        });
    });
</script>