<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <h5 class="card-title">Room List</h5>
        <table class="responsive-table datatable-select-inputs">
          <thead>
          <tr>
            <th style="width: 15%">Type</th>
            <th style="width: 30%">Weight</th>
            <th style="width: 15%">Price</th>
            <th style="width: 15%">Quantity</th>
            <th style="width: 15%">Action</th>
          </tr>
          </thead>
          <tbody>
            <%= render @rooms %>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
