<div class="login-section pt-120 pb-120">
  <div class="container">
    <div class="row d-flex justify-content-center g-4">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="form-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
          <div class="form-title">
            <h3>Forgot your password?</h3>
          </div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="row">
              <div class="col-12">
                <div class="form-inner">
                  <label>Enter Your Email *</label>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter Your Email" %>
                </div>
              </div>

            </div>
            <button class="account-btn" type="submit">Send me reset password via email</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
