@import "dist/css/style";
@import "dist/css/pages/dashboard1";
@import "dist/css/pages/data-table";
@import "dist/css/toast/toastr.min";
@import "dist/css/bootstrap-material-datetimepicker";

.chat-bubble {
  display: none;
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-submit {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.room {
  background-color: #198754;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.room_booking {
  background-color: #EC0023;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}