@import "css/all";
@import "css/animate";
@import "css/bootstrap.min";
@import "css/boxicons.min";
@import "css/bootstrap-icons";
@import "css/jquery-ui";
@import "css/aos";
@import "css/swiper-bundle";
@import "css/nice-select";
@import "css/magnific-popup";
@import "css/jquery.fancybox.min";
@import "css/odometer";
@import "css/datepicker.min";
@import "css/uiicss";
@import "css/style";
@import "css/jquery.countdown";
@import "css/locomotive-scroll";
@import "css/morphext";
@import "css/select2.min";
@import "css/slick";
@import "css/slick-theme";
@import "font-awesome";

.number_on_cart {
  content: attr(value);
  font-size: 12px;
  background: #F46F30;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  left: 20px;
  top: -6px;
  opacity: 0.9;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
}
