@import "css/all";
@import "css/animate";
@import "css/bootstrap.min";
@import "css/boxicons.min";
@import "css/bootstrap-icons";
@import "css/jquery-ui";
@import "css/aos";
@import "css/swiper-bundle";
@import "css/nice-select";
@import "css/magnific-popup";
@import "css/jquery.fancybox.min";
@import "css/odometer";
@import "css/datepicker.min";
@import "css/uiicss";
@import "css/style";
@import "css/jquery.countdown";
@import "css/locomotive-scroll";
@import "css/morphext";
@import "css/select2.min";
@import "css/slick";
@import "css/slick-theme";
@import "font-awesome";

.number_on_cart {
  content: attr(value);
  font-size: 12px;
  background: #F46F30;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  left: 20px;
  top: -6px;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
}

.imagePreview {
  width: 100%;
  height: 200px;
  margin-top: 7px;
  border-radius: 5px;
  background-position: center center;
  background: url('');
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  box-shadow: 0px -3px 6px 2px rgba(0, 0, 0, 0.2);
}

.price-range {
  margin-right: 0 !important;
  width: 120px !important;
  padding: 5px !important;
}

.form-inner {
  .nice-select {
    margin-bottom: 20px;
    width: 100%;
  }
}