<div class="container" style="margin-bottom: 30px; margin-top: 30px">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-9 col-lg-9 col-md-9">
      <div class="form-wrapper wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s">
        <div class="form-title">
          <h3>Edit Product</h3>
        </div>

        <%= render "form", product: @product %>

        <%#= link_to "Show this product", @product, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%#= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
  </div>
</div>
